
#main{
	width:70%;
	height:955px;
	font-size:10pt;
	
	top:35px;
	margin:auto;
  
}

#content1{
	width:70%;
	height:145px;
	top:120px;
	margin-top:20px;
	margin-bottom:20px;
	position:absolute;
	display:block

}
#radiocontent{
	
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  height :30px;
  margin: 8px 0;
  display: inline-block;
  color : black;
  border: 1px solid #ccc;
  background-color:white;
  box-sizing: border-box;
}
#id1{
	width: 70%;
	background-color:white;
	color :black;
}
#content2{
	width:70%;
	height:600px;
	
	margin-top:20px;
	margin-bottom:20px;
	color : black;
	position:absolute;
	top:350px;
	display:block
}
#content2>button{
	position:relative;
	width:25%;
}
#content2>*{
	color: black;
}

table{
	width:100%;
}

th {background: #42444e; color: #fff;}
tr:first-child th:first-child {border-top-left-radius: 6px;}
tr:first-child th:last-child {border-top-right-radius: 6px;}
td {border-right: 1px solid #c6c9cc; border-bottom: 1px solid #c6c9cc;}
td:first-child {border-left: 1px solid #c6c9cc;}
tr:nth-child(even) td {background: #eaeaed;}
tr:last-child td:first-child {border-bottom-left-radius: 6px;}
tr:last-child td:last-child {border-bottom-right-radius: 6px;}


button{
	width: 15%;

	color: #fff;
	border-radius: 5px;
	padding: 12px 0px;
	margin: 8px 0;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	display: inline-block;
 	box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
 	outline: none;
 	
	background: rgb(6,14,131);
	background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
	border: none
 	
}
button:hover {
	background: rgb(0,3,255);
	background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
}
#submit{
	width: 10%;
	display: inline;
	padding: 0px 0px;
	color: white;
	height :30px;
}


#user{
border: none;
color : white;
}

.off-screen {
	display: none;
}
#nav {
	width: 500px;
	margin-left: 10px;
	margin-top: 10px;
	
}
#nav a {
	display: inline-block;
	padding: 3px 5px;
	margin-right: 10px;
	font-family:Tahoma;
	background: #ccc;
	color: #000;
	text-decoration: none;
	
}
#nav a.active {
	background: #333;
	color: #fff;
}
